.footerText {
  text-align: center;
  font-size: 16px;
  padding: 60px 0px 20px 0px;
}

.footerLink {
  text-decoration: underline;
  color: #6bc0ff;
  padding: 0px 20px;
}

.footerIcon {
  vertical-align: middle;
  height: 100px;
}

.footerIcon img{
  height: 40px;
  width: auto;
  cursor: pointer;
}