:root {
  --wave: 100px;
}
.vortex{
    z-index: 1;
}
.animationContainer {
  position: fixed;
  padding-top: 60px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  z-index: -1;
}
.sphereContainer {
  height: 100%;
  width: 100%;
  perspective: 800px; /* Adjusted for stronger 3D effect */
}

.swarmContainer {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
  z-index: 2; /* Above vortex */
}

.swarmParticle {
  width: 1px;
  height: 1px;
  background-color: #266ef6;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 0 6px #266ef6;
  opacity: 0.8;
  transform-origin: 50% 50% 0;
}

.energyWave {
  border: 1px solid #266ef6;
  width: var(--wave);
  height: var(--wave);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.7;
  box-shadow: 0 0 15px #266ef6;
  animation: waveExpand 6s infinite linear;
  z-index: 3;
}

.energyWave:nth-child(2) {
  animation-delay: 2s;
}
.energyWave:nth-child(3) {
  animation-delay: 4s;
}

@keyframes waveExpand {
  0% {
    opacity: 0.7;
    width: var(--wave);
    height: var(--wave);
  }
  100% {
    opacity: 0.1;
    width: 600px;
    height: 600px;
  }
}

.energyBubble {
  height: 100px;
  width: 100px;
  background: transparent;
  border: 2px solid #266ef6;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateX(0deg) rotateY(0deg) scaleZ(1);
  transform-style: preserve-3d;
  box-shadow: 0 0 5px #266ef6;
  opacity: 0.3;
  filter: url(#wave);
  animation: buzzWave 0.2s infinite ease-in-out,
    rotateSphere 10s infinite linear; /* Combined animations */
  z-index: 4;
}

@keyframes buzzWave {
  0% {
    filter: url(#wave) brightness(1) scale(5) baseFrequency(0.3);
    transform: translate(-50%, -50%) rotateX(5deg) rotateY(5deg) scaleZ(1)
      translateZ(0px);
    box-shadow: 0 0 5px #266ef6;
    border-width: 2px;
  }
  50% {
    filter: url(#wave) brightness(1.2) scale(8) baseFrequency(0.4);
    transform: translate(-50%, -50%) rotateX(-5deg) rotateY(-5deg) scaleZ(1.05)
      translateZ(5px);
    box-shadow: 0 0 10px #266ef6;
    border-width: 3px;
  }
  100% {
    filter: url(#wave) brightness(1) scale(5) baseFrequency(0.3);
    transform: translate(-50%, -50%) rotateX(5deg) rotateY(5deg) scaleZ(1)
      translateZ(0px);
    box-shadow: 0 0 5px #266ef6;
    border-width: 2px;
  }
}

@keyframes rotateSphere {
  0% {
    transform: translate(-50%, -50%) rotate3d(1, 1, 0, 0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate3d(1, 1, 0, 360deg);
  }
}
