.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
}

.chatbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60%;
  width: 70%;
  border-radius: 26px;
  border: 2px solid #6bc0ff;
  display: flex;
  flex-direction: column;
  background-color: rgba(0,0,0,0.81);
  padding: 10px;
}
.chatContainer {
  flex-grow: 1;
  padding: 10px;
  overflow-y: scroll;
  background-image: url(/logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
}
.chatContainer::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}
.chatContainer::-webkit-scrollbar-thumb {
  background-color: #6bc0ff;
  border-radius: 10px;
}
.info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.chatInputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chatInputContainer > * {
  margin: 0px 10px;
}

.chatInputContainer > input {
  height: 46px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 26px;
  color: #ffffff;
  font-size: 14px;
  font-family: "Quicksand";
  border: 1px solid #ffffff;
  padding-inline: 24px;
  box-sizing: border-box;
  flex-grow: 1;
}
.chatInputContainer > button {
  cursor: pointer;
  height: 47px;
  width: 116px;
  padding: 0px 8px;
  border: 0;
  box-sizing: border-box;
  border-radius: 22px;
  background-color: #6bc0ff;
  color: #000;
  font-size: 19px;
  font-family: "Quicksand";
  font-weight: 700;
  line-height: 25px;
  outline: none;
}
.botMessage {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  color: #6bc0ff;
  font-size: 14px;
  font-family: "Quicksand";
  line-height: 16px;
}
.botText{
  background-color: #7cc6ff;
  color: #000000;
  padding: 10px;
  border-radius: 20px;
  max-width: 70%;
  word-wrap: break-word;
}
.userText{
  background-color: #17507d;
  color: #ffffff;
  padding: 10px;
  border-radius: 20px;
  max-width: 70%;
  word-wrap: break-word;
}
.botMessage > * {
  margin-inline: 10px;
}
.botMessage > img {
  height: 40px;
  width: auto;
}
.userMessage {
  display: flex;
  align-items: center;
  justify-content: end;
  color: #ffffff;
  font-size: 14px;
  font-family: "Quicksand";
  margin-right: 20px;
  text-align: right;
}
.chatMessage{
    margin: 20px 0px;
}
