:root,
html,
body {
  --navHeight: 60px;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  background-color: #000000;
  color: #6bc0ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  background-image: url("/bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
