.header {
  color: #6bc0ff;
  font-size: 32px;
  font-family: "Quicksand";
  font-weight: 700;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.itemBox {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 8px;
  border: 0.8px solid #ffffff;
  box-sizing: border-box;
  margin: 2% 0;
  padding: 1%;
}
.itemHeader {
  color: #6bc0ff;
  font-size: 20px;
  font-family: "Quicksand";
  font-weight: 700;
}
.itemText {
  color: #ffffff;
  font-size: 18px;
  font-family: "Quicksand";
}
.contentBox {
  background-color: #101010;
  border-radius: 26px;
  box-shadow: 5px 5px 10px #6bc0ff;
  margin: 3%;
  padding: 2%;
  opacity: 0.69;
}
